<html>
<head>
</head>
<body>




<form action="/Towritecomments" method="POST">
    Who would you like to comment?
<br>
    <input type="text" name = "item_id" placeholder="Item_id" required/></br>
    <input type="text" name = "comment" placeholder="comment" required/></br>
    Is it public?
    <div></div>
    <input type="radio" name="public" value="Yes"> Yes
    <input type="radio" name="public" value="No"> No <br>
    <div></div>

<input type="submit" value = comment />

</form>

<a href="/home">Home</a>
<a href="/logout">Logout</a>

</body>


</html>
