<!DOCTYPE html>
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static' ,filename = 'styles/index.css')}}"
/>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to SoundShow</title>
  </head>
  <body>
    <h1>Welcome to SoundShow</h1>
    <a link href="/login">Login to SoundShow</a>
    <br />
    <a link href="/register">Register for SoundShow</a>
    <br />
    <a link href="/info">About SoundShow</a>
  </body>
</html>
