<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type=" text/css"
      href="{{url_for('static',filename = 'styles/insert_categories.css')}}"
    />
    <a href = "{{url_for('logout')}}"> Logout </a>
    <div class="imgcontainer">
      <a
        ><img
          src="{{url_for('static',filename = 'img/logo.png')}}"
          alt="logo"
          class="avatar"
      /></a>
      <br />
    </div>
    <title>Welcome to SoundShow {{name}}</title>
  </head>
  <div class="whole">
    <div style="text-align: center;">
      <font color="white" size="+2">Pick your favorite categories {{name}}</font>
      <br>
    </div>
  </div>
  <br>
  <div>
    <br>
  </div>
  <br>
  <div class="container">
    <ul class="ks-cboxtags">
      <div>
        <form action="/insert_new_user_categories" method="POST">
          {% for cats in categor %}

          <li>
            <input type="checkbox" id="{{cats}}" name="{{cats}}" /><label
              for="{{cats}}"
            >
              {{cats}}</label
            >
          </li>

          {%endfor%}
          <br />

          <input type="submit" value="Next" />
        </form>
      </div>
    </ul>
  </div>
</html>
