<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to SoundShow {{user_name}}</title>
    <h1>Lets set up your profile {{name}}</h1>
    <div>
      <text>
        SoundShow lets you pick your favorite categories
        <br>
        and present you with media content based on those categories.
        <br>
        Music, video, podcasts you name it, SoundShow will find it.
      </text>
    </div>
  </head>
  <body></body>
</html>
