<!DOCTYPE html>
<html>
  <head>
    <link  rel="stylesheet" type=" text/css" href="{{url_for('static',filename = 'css/new_user.css')}}" >
    <title>Welcome to SoundShow {{name}}</title>
    

    <div class="imgcontainer">
    <a><img src="{{url_for('static',filename = 'img/logo.png')}}" alt="logo" class="avatar"></a>
        
  </div>



  </head>

  <div class="whole">
  
<div style="text-align:center;">


  <font color="white" size=+2>Let's begin by selecting your favorite categories<br>
<br></font>
  
</div>


<div style="text-align:center;" >

<button class="button" style="vertical-align:middle"><a href="{{url_for('insert_categories', curr_uuid = curr_uuid, user_name = user_name, name = name, error = None)}}" ><span><font color="white">Let's Go</span> </a>  </button>



<button class="button" style="vertical-align:middle" ><a href="{{url_for('user_home', curr_uuid = curr_uuid)}}" ><span><font color="white">Pick Later</span> </a>  </button>

<button class ="button" stlye = "vertical-align:middle"><a href = "{{url_for('logout')}}"><span><font color = "white"></font>Logout</span></a></button>
</div>


</div>



</html>
