<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{data["name"]}}'s Profile</title>
  </head>
  <!-- <link  rel="stylesheet" type=" text/css" href="{{url_for('static',filename = 'css/profile.css')}}" > -->

  <form action = "/custom_search" method = "post">
    <input type="text" name = "search_term" placeholder="Search">
    <button type ="submit">Search</button>
  </form>
  <a href="{{url_for('logout')}}"> Logout </a>
  <body>

    <p>Name: {{data["name"]}}</p>
    <br />
    <p>username: {{data["username"]}}</p>
    <br />
    <p>UUID: {{data["userID"]}}</p>
    <br />
    <p>Joined: {{data["joined"]}}</p>
    <br />
    <p>Interests</p>
    {% if data["interests"] %}
    {% for inter in data["interests"] %}
      <p>{{inter}}</p><a href = "{{url_for('delete_interest', user_name = data['username'], interest_name = inter)}}">Delete Interest</a> <br>
    {% endfor %}
    {% endif %} {% if not data["interests"] %}
    <p> No interests selected</p>
    {% endif %}
    <br />
    {% if data["favorites"] %}
      <p>Your favorites</p>
      {% for fav in data["favorites"] %}
      <a href ={{fav["link"]}} target = "_blank"> {{fav["title"]}}</a> <a href = "{{url_for('delete_favorite', user_name = data['username'], hash_link = fav['hashed_link'])}}">Delete {{fav["title"]}}</a>
      <br>
      {% endfor %}
      <a href = "{{url_for('delete_all_favorites', user_name = data['username'])}}">Delete all Favorites</a>
    {% endif %}
    {% if not data["favorites"] %}
      <p>No favorites selected</p>
    {% endif %}
    <br>
    {% if data["search_history"] == [] %}
      <p>Search History: No search history</p>
    {% endif %}
    {% if data["search_history"] != [] %}
    {% for entry in data["search_history"] %}
        <p>{{entry["search_term"]}} search at {{entry["searched_at"]}}</p><br>
    {% endfor %}
    {% endif %}
    <a href="{{url_for('clear_history')}}">Clear History</a>
    <br>
    <a href = "{{url_for('edit_interests', user_name = data['username'])}}">Add interests</a><br>
    <a href="{{url_for('user_home',curr_uuid = curr_uuid)}}">Go back home</a>
  </body>
</html>
