<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome back {{user_name}}</title>
  </head>
  <body>
    <a href = "{{url_for('profile',curr_uuid = curr_uuid)}}">Go to Profile</a><br>
    <a href = "{{url_for('logout')}}"> Logout </a>
    <form action = "/custom_search" method = "post">
      <input type="text" name = "search_term" placeholder="Search">
      <button type ="submit">Search</button>
    </form>

    <h1>Google Search Results</h1>
    {%set google = data["google_search"]%} 
    {% for items in google %}
    <br>
    <a href = "{{url_for('add_favorite', user_name = user_name, title = items['title'] ,hash_link = items['hash_link'])}}">
      Add {{items["title"]}} to favorites
    </a>
    <br>
      <p>Source: {{items["source"]}}</p> 
    </br>
    <br />
    <b>
      <p>Title: {{items["title"]}}</p>
    </b>
    <p>Description:{{items["description"]}}</p>
    <a href={{ items["url"] }} target="_blank">Link</a>
    <br>
    <img src= {{ items["img_url"] }} />
    <br>
    {%endfor%}
    <h2>Youtube Search Results</h2>
    {% set youtube = data["youtube_search"]%}
      {% for items in youtube %}
      <a href = "{{url_for('add_favorite', user_name = user_name, title = items['title'], hash_link = items['hash_link'])}}">
        Add {{items["title"]}} to favorites
      </a>
        <p>Title: {{items["title"]}}</p>
        <br>
        <p>Description:{{items["description"]}}</p>
        <br>
        <a href={{ items["link"] }} target = "_blank">Link</a>
        <img src = {{ items["image"] }}>
        <br>
        <p>Channel: {{items["channel"]}}</p>
        <br>
        <a href = {{ items["channel_link"] }} target="_blank">Channel Link</a>
      {% endfor %}
    <h2>Spotify Search Data</h2>
    {% set spotify = data["spotify_search"] %}
      {% for items in spotify %}
      <a href = "{{url_for('add_favorite', user_name = user_name, title = items['artist'] ,hash_link = items['hash_link'])}}">
        Add {{items["artist"]}} to favorites
      </a>
        <p>Artist: {{items["artist"]}}</p>
        <br>
        <img src = {{ items["img_link"] }} />
        <a href = {{ items["link"] }} target ="_blank">Go to Artist</a>
        <p>Albums</p>
        <br>
        {% for album in items["albums"] %}
          <p>Name: {{ album["name"] }}</p>
          <br>
          <p>Release Date: {{album["release date"] }}</p>
          <br>
          <a href = {{ album ["url"] }} target = "_blank">Go to album</a>
          <br>
        {% endfor %}
        {% for tracks in items["top_tracks"] %}
          <p>Track: {{tracks["track"] }}</p>
          <audio controls>
            <source src = {{ tracks["audio"] }}>
          </audio>
          <br>
        {% endfor %}
      {% endfor %}
  </body>
</html>
